# Configurações do Site Flaviany Leonardo
NEXT_PUBLIC_SITE_URL=https://www.psicologaflavianyleonardo.com
NEXT_PUBLIC_WHATSAPP=5571992666557
NEXT_PUBLIC_INSTAGRAM=psicologaflavianyleonardo
NEXT_PUBLIC_EMAIL=contato@psicologaflavianyleonardo.com
NEXT_PUBLIC_CRP=06/12345
